# dependencies
node_modules

# build output
dist
*.tsbuildinfo

# IDE
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# system
.DS_Store
Thumbs.db

# env
.env
.env.local
.env.*.local

# claude
.claude/

# misc
npm-debug.log
yarn-error.log
pnpm-debug.log
/coverage
